{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="main-content">
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <section class="section">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-right">
                            <a href="/index/problem_solve/" class="btn btn-primary">View All</a>
                        </div>
                        <h4>待处理问题</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>问题</th>
                                    <th>创建人</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 样例 -->
                                {% for problem in to_my_problem%}
                                <tr>
                                    <td>
                                        {{problem.pp_title}}
                                        <div class="table-links">
                                            状态
                                            <div class="bullet"></div>
                                            {{problem.pp_state}}
                                        </div>
                                    </td>
                                    {% for author in author_information %}
                                    {% if problem.pp_author == author.user_id %}
                                    <td>{{author.user_name}}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>
                                        <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                           title="Edit"><i class="ion ion-edit"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="float-right">
                                {% if data2 %}
                                <ul class="pagination">
                                    {% if data2.first %}
                                    <li class="page-item"><a class="page-link" href="?page_tmp=1">1</a></li>
                                    {% endif %}
                                    {% if data2.left %}
                                    {% if data2.left_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% for i in data2.left %}
                                    <li class="page-item"><a class="page-link" href="?page_tmp={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" href="?page_tmp={{data2.page}}">{{data2.page}}</a></li>
                                    {% if data2.right %}
                                    {% for i in data2.right %}
                                    <li class="page-item"><a class="page-link" href="?page_tmp={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% if data2.right_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% endif %}
                                    {% if data2.last %}
                                    <li class="page-item"><a class="page-link" href="?page_tmp={{data2.total_pages}}">{{data2.total_pages}}</a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-right">
                            <a href="/index/my_problem/" class="btn btn-primary">View All</a>
                        </div>
                        <div class="float-right">
                            <a href="/index/problem_proposed/" class="btn btn-primary">add</a>
                        </div>
                        <h4>我的问题</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>问题</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for problem in my_problem %}
                                <tr>
                                    <td>
                                        {{problem.pp_title}}
                                        <div class="table-links">
                                            状态
                                            <div class="bullet"></div>
                                            {{problem.pp_state}}
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                           title="Edit"><i
                                                class="ion ion-edit"></i></a>
                                        <a class="btn btn-danger btn-action" data-toggle="tooltip"
                                           title="Delete"><i
                                                class="ion ion-trash-b"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="float-right">
                                {% if data1 %}
                                <ul id="pages" class="pagination">
                                    {% if data1.first %}
                                    <li class="page-item"><a class="page-link" href="?page_mp=1">1</a></li>
                                    {% endif %}
                                    {% if data1.left %}
                                    {% if data1.left_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% for i in data1.left %}
                                    <li class="page-item"><a class="page-link" href="?page_mp={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" href="?page_mp={{data1.page}}">{{data1.page}}</a></li>
                                    {% if data1.right %}
                                    {% for i in data1.right %}
                                    <li class="page-item"><a class="page-link" href="?page_mp={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% if data1.right_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% endif %}
                                    {% if data1.last %}
                                    <li class="page-item"><a class="page-link" href="?page_mp={{data1.total_pages}}">{{data1.total_pages}}</a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-right">
                            <a href="#" class="btn btn-primary">View All</a>
                        </div>
                        <h4>所有记录</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>指派给</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for problem in all_problem %}
                                <tr>
                                    <td>
                                        {{problem.pp_title}}
                                        <div class="table-links">
                                            状态
                                            <div class="bullet"></div>
                                            {{problem.pp_state}}
                                        </div>
                                    </td>
                                    {% for author in author_information %}
                                    {% if problem.pp_author == author.user_id %}
                                    <td>{{author.user_name}}</td>
                                    {% endif %}
                                    {% if problem.pp_to_user == author.user_id %}
                                    <td>{{author.user_name}}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>
                                        <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                           title="Edit"><i class="ion ion-edit"></i></a>
                                        <a class="btn btn-danger btn-action" data-toggle="tooltip"
                                           title="Delete"><i class="ion ion-trash-b"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="float-right">
                                {% if data3 %}
                                <ul class="pagination">
                                    {% if data3.first %}
                                    <li class="page-item"><a class="page-link" href="?page_ap=1">1</a></li>
                                    {% endif %}
                                    {% if data3.left %}
                                    {% if data3.left_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% for i in data3.left %}
                                    <li class="page-item"><a class="page-link" href="?page_ap={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" href="?page_ap={{data3.page}}">{{data3.page}}</a></li>
                                    {% if data3.right %}
                                    {% for i in data3.right %}
                                    <li class="page-item"><a class="page-link" href="?page_ap={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% if data3.right_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% endif %}
                                    {% if data3.last %}
                                    <li class="page-item"><a class="page-link" href="?page_ap={{data3.total_pages}}">{{data3.total_pages}}</a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}