{% extends 'base.html' %}
{% block title %} 待处理问题 {% endblock %}
{% block content %}


<div class="main-content">
    {% if message != '' %}
    <div class="alert alert-dark alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endif %}
    <section class="section">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12 col-sm-12">
                <form method="post" action="/index/problem_solve/">
                    {%csrf_token%}
                    <div class="card">
                        <div class="card-header">
                            {% if all_pp_communication %}
                            <div class="float-right">
                                <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-primary">History</button>
                            </div>
                            {% endif %}
                            <h4>详情</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-divider">基础信息</div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label>问题名称</label>
                                    <input name="pp_title" type="text" class="form-control"
                                           value="{{show_problem.pp_title}}" readonly>
                                </div>
                                <div class="form-group col-12">
                                <label>重现步骤</label>
                                <textarea id="textarea" name="pp_information" class="form-control"
                                          onKeyDown="LimitTextArea(this)" onKeyUp="LimitTextArea(this)"
                                          onkeypress="LimitTextArea(this)" readonly>{{show_problem.pp_information}}</textarea>
                                </div>
                            </div>
                            <div class="form-divider">处理记录</div>
                            {% if all_pp_communication %}
                            <div id="demo" class="collapse">
                                {% for ppc in all_pp_communication %}
                                <div class="row">
                                    <div class="form-group col-12">
                                        {% for member in all_pg_member %}
                                        {% if member.user_id == ppc.ppc_user_id %}
                                        <div class="form-divider">[{{ppc.pp_com_id}}] {{member.user_name}} :{{ppc.ppc_time}} </div>
                                        {% endif %}
                                        {% endfor %}
                                        <textarea id="textarea" name="pp_information" class="form-control"
                                                  onKeyDown="LimitTextArea(this)" onKeyUp="LimitTextArea(this)"
                                                  onkeypress="LimitTextArea(this)" readonly>{{ppc.ppc_describe}}</textarea>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>待处理</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>问题ID</th>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>问题级别</th>
                                    <th>预计结束时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for problem in all_problem %}
                                <tr>
                                    <td>{{problem.pp_id}}</td>
                                    <td>{{problem.pp_title}}</td>
                                    <td>
                                        {% for user in all_pg_member %}
                                        {% if problem.pp_author == user.user_id %}
                                        {{user.user_name}}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for pl in pj_level %}
                                        {% if problem.pl_id == pl.pl_id %}
                                        {{pl.pl_name}}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{problem.pp_time}}</td>
                                    <td>
                                        <form method="post" action="/index/problem_solve/">
                                        {%csrf_token%}
                                        <input name="pp_id" value="{{problem.pp_id}}" type="hidden">
                                        <button name="todo" value="1"  class="btn btn-primary btn-action mr-1"
                                           data-target="tooltip" title="look"><i class="icon ion-search"></i></button>
                                        <button name="todo" value="2" class="btn btn-primary btn-action mr-1"
                                           data-target="tooltip" title="Edit"><i class="ion ion-edit"></i></button>
                                        <!-- 按钮触发模态框 -->
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if data %}
                                <ul id="pages" class="pagination">
                                    {% if data.first %}
                                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                    {% endif %}
                                    {% if data.left %}
                                    {% if data.left_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% for i in data.left %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" href="?page={{data.page}}">{{data.page}}</a></li>
                                    {% if data.right %}
                                    {% for i in data.right %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% if data.right_has_more %}
                                    <li class="page-item"><span>...</span></li>
                                    {% endif %}
                                    {% endif %}
                                    {% if data.last %}
                                    <li class="page-item"><a class="page-link" href="?page={{data.total_pages}}">{{data.total_pages}}</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}